*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins;

}

body{

background:
linear-gradient(
135deg,
#fff7f3,
#ffe8df
);

}

.navbar{

display:flex;

justify-content:space-between;

padding:25px;

background:white;

}

.logo{

color:#ff6b6b;

font-size:34px;

}

ul{

display:flex;

gap:20px;

list-style:none;

}

a{

text-decoration:none;

color:black;

}

.active{

color:#ff6b6b;

font-weight:700;

}

.hero{

text-align:center;

padding:90px 20px;

}

.hero h1{

font-size:70px;

}

.hero p{

margin-top:20px;

}

.hero input{

margin-top:25px;

padding:18px;

width:600px;

max-width:90%;

border:none;

border-radius:20px;

}

.pets-container{

padding:80px;

display:grid;

grid-template-columns:

repeat(
auto-fit,
minmax(
320px,
1fr
)

);

gap:35px;

}

.card{

background:white;

border-radius:30px;

overflow:hidden;

transition:.5s;

box-shadow:

0 20px 60px rgba(0,0,0,.08);

}

.card:hover{

transform:

translateY(-12px)
scale(1.03);

}

.card img{

width:100%;

height:280px;

object-fit:cover;

transition:.6s;

}

.card:hover img{

transform:scale(1.08);

}

.info{

padding:24px;

}

.info p{

margin-top:10px;

color:#666;

}

button{

margin-top:20px;

width:100%;

padding:16px;

border:none;

background:#ff6b6b;

color:white;

border-radius:16px;

cursor:pointer;

}

footer{

padding:60px;

text-align:center;

}

@media(max-width:800px){

.hero h1{

font-size:42px;

}

.navbar{

flex-direction:column;

gap:20px;

}

}
